<%- include('partials/header') %>

<div id="intro" class="container">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia fuga est in tenetur, porro repellendus, ipsum similique unde ducimus officia voluptatum repudiandae ut labore doloribus odit?</p>
</div>

<div id="about" class="container">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure esse illum saepe. Sunt repellat eaque rem minus a nesciunt. Possimus et harum necessitatibus corrupti tempora quo velit voluptatum quasi doloribus, consectetur neque officia, ipsam, dolores dolor laudantium enim hic. Facere doloremque tenetur id vel voluptate. Facere cum vel eos odio!</p><br>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam debitis delectus possimus blanditiis. Illo quaerat minus, id accusamus corporis tempore fuga numquam in eos, non omnis ea velit facilis cupiditate nobis. Explicabo quisquam amet perferendis quidem fugiat, iste, cum consequuntur, voluptate odit eum labore a quam corporis reiciendis maxime repellat.
    </p>
</div>

<div id="rate-service" class="container">
    <div>
        <img src="/img/woman-sitting.jpg" alt="">
    </div>
    <div>
        <h1>Allow your customers to rate your services</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem ad quo illo necessitatibus asperiores rerum, ratione iure. Sapiente, et laborum?</p>
        <a href="">Create profile</a>
    </div>
</div>

<div id="testimonials" class="container">
    <div class="testimonial">
        <div class="img">
            <img src="/img/photo1.jpg" alt="">
        </div>
        <p class="name">Jina lake</p>
        <p class="review">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum doloremque obcaecati esse ipsa consectetur. Atque quasi vel odio distinctio eaque fugiat recusandae quam temporibus nihil!</p>
    </div>
    <div class="testimonial">
        <div class="img">
            <img src="/img/photo2.jpg" alt="">
        </div>
        <p class="name">Yule Mwingine</p>
        <p class="review">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum doloremque obcaecati esse ipsa consectetur. Atque quasi vel odio distinctio eaque fugiat recusandae quam temporibus nihil!</p>
    </div>
    <div class="testimonial">
        <div class="img">
            <img src="/img/photo3.jpg" alt="">
        </div>
        <p class="name">Mpita Njia</p>
        <p class="review">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum doloremque obcaecati esse ipsa consectetur. Atque quasi vel odio distinctio eaque fugiat recusandae quam temporibus nihil!</p>
    </div>
</div>
    
<%- include('partials/footer') %>
