<%- include('partials/header') %>

<div id="intro" class="container">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia fuga est in tenetur, porro repellendus, ipsum similique unde ducimus officia voluptatum repudiandae ut labore doloribus odit?</p>
</div>

<div id="about" class="container">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure esse illum saepe. Sunt repellat eaque rem minus a nesciunt. Possimus et harum necessitatibus corrupti tempora quo velit voluptatum quasi doloribus, consectetur neque officia, ipsam, dolores dolor laudantium enim hic. Facere doloremque tenetur id vel voluptate. Facere cum vel eos odio!</p>
</div>

<div id="rate-service" class="container">
    <div>
        <img src="/img/woman-sitting.jpg" alt="">
    </div>
    <div>
        <h1>Allow your customers to rate your services</h1>
        <a href="">Create profile</a>
    </div>
</div>
    
<%- include('partials/footer') %>
