@font-face {
    font-family: Quicksand;
    src: url(quicksand-VariableFont_wght.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Quicksand;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
}

.error {
    color: white;
    background-color: red;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #fdae1e;
}

header p{
    font-size: 38px;
}
 header p a{
     text-decoration: none;
     color: black;
 }
nav li {
    display: inline;
    font-size: 17px;
    margin-left: 5px;
}

nav a {
    text-decoration: none;
}

.nav-link a {
    color: black;
}

.nav-link a:hover {
text-decoration: underline black;
text-decoration-thickness: 2px;
}

#login a {
    color: black;
    padding: 10px;
    border: 1px solid black;
}

#signup a {
    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 10px;
}

.access-point {
    height: 80vh;
    display: grid;
    place-items: center;
}

.access-point form{
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.access-point form .form-title{
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
}

.access-point form label{
    font-size: 13px;
    margin-bottom: 3px;
}

.access-point form input{
    font-size: 19px;
    padding: 5px;
    margin-bottom: 5px;
}

.access-point form input[type='submit'] {
    background-color: #fcae1e;
    border: 1px solid #fcae1e;
    margin: 5px 0;
    font-weight: bold;

}

.access-point form p{
    font-size: 15px;
    margin-bottom: 10px;
}